<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <title>Lista de livros</title>
    <!-- Add this to <head> -->

    <link rel="stylesheet" href="https://unpkg.com/buefy/lib/buefy.min.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">
    <script src="./js/axios.min.js"></script>
  </head>

<body>
<div id="app" class="container">

  <div class="block">
    <b-radio v-model="tipoLancamento"
        native-value="P">
        Contas a pagar
    </b-radio>
    <b-radio v-model="tipoLancamento"
        native-value="R">
        Contas a receber
    </b-radio>
  </div>
  <div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Período</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <b-datepicker v-model="dataInicial"
            :first-day-of-week="1"
            placeholder="Data Inicial"
            icon="calendar-today">

            <button class="button is-primary"
                @click="dataInicial = new Date()">
                <!-- <b-icon icon="calendar-today"></b-icon> -->
                <span>Hoje</span>
            </button>

            <button class="button is-danger"
                @click="dataInicial = null">
                <!-- <b-icon icon="close"></b-icon> -->
                <span>Apagar</span>
            </button>
        </b-datepicker>
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded has-icons-left has-icons-right">
        <b-datepicker v-model="dataFinal"
            :first-day-of-week="1"
            placeholder="Data Inicial"
            icon="calendar-today">

            <button class="button is-primary"
                @click="dataFinal = new Date()">
                <!-- <b-icon icon="calendar-today"></b-icon> -->
                <span>Hoje</span>
            </button>

            <button class="button is-danger"
                @click="dataFinal = null">
                <!-- <b-icon icon="close"></b-icon> -->
                <span>Apagar</span>
            </button>
        </b-datepicker>
      </p>
    </div>
  </div>
</div>
 <section>
     <button class="button field is-danger" @click="listParceiros"
         :disabled="!selected">
         <b-icon icon="close"></b-icon>
         <span>Pesquisar</span>
     </button>

     <b-tabs>
         <b-tab-item label="Table">
             <b-table
                 :data="data"
                 :columns="columns"
                 :selected.sync="selected"
                 focusable>
             </b-table>
         </b-tab-item>

         <b-tab-item label="Selected">
             <pre>{{ selected }}</pre>
         </b-tab-item>
     </b-tabs>
 </section>
</div>
</body>

    <script type="text/javascript" src="./js/vue.js"></script>
    <!-- Add this after vue.js -->
    <script type="text/javascript" src="./js/buefy.js"></script>
    <script type="text/javascript">
      Vue.use(Buefy.default)
    </script>
    <script type="text/javascript" src="./js/indexComp.js"></script>
</html>
